<html>
	<!--ikbc keyboard-->
	<script type="text/javascript">var jd_union_pid="1729339876";var jd_union_euid="";</script><script type="text/javascript" src="//ads-union.jd.com/static/js/union.js"></script>
	<br/>

	<script type="text/javascript">
		for (var i = 0; i < 3 ; i++) {
			document.write("<img class='no_boarder_class' style='max-Width:100%' src='" + geekTimeQrImages[i] + "'>");
		};
	</script>
	
	<br/>
	
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- post_right_0 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6762344977202446"
     data-ad-slot="2412800998"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

	
</html>
