<html>
	<p align="center">空间与SSL证书赞助商广告</p>
	<a href="https://www.upyun.com/products/prismcdn?utm_source=droidyue&utm_medium=banner&utm_campaign=prismcdn&utm_content=0510"><img src="https://asset.droidyue.com/image/droidyue-upyun_prism.png" class="no_boarder_class" style="max-Width:100%"></a>

	<img class="no_boarder_class" style="max-Width:100%" src="https://asset.droidyue.com/image/kotlin_zhangtao.jpeg">
	<br/>

	<img class="no_boarder_class" style="max-Width:100%" src="https://asset.droidyue.com/image/qutan_wangluo_xieyi.png">
	<br/>

	<img class="no_boarder_class" style="max-Width:100%" src="https://asset.droidyue.com/image/ruanjianceshi.jpeg">
	<br/>

	<img class="no_boarder_class" style="max-Width:100%" src="https://asset.droidyue.com/image/java_basic.jpeg">
	<br/>

	<img class="no_boarder_class" style="max-Width:100%" src="https://asset.droidyue.com/image/zhuyun_jishu_guanli.jpeg">
	<br/>

	<img class="no_boarder_class" style="max-Width:100%" src="https://asset.droidyue.com/image/gitchat_refer.jpeg">
	<br/>
	
	<img class="no_boarder_class" style="max-Width:100%" src="https://asset.droidyue.com/image/machine_learning.jpeg">
	<br/>
	

	<p align="center">小米智能家居组合套餐</p>
	<a href="https://union-click.jd.com/jdc?d=tXELKB"><img class="no_boarder_class" style="max-Width:100%" src="https://asset.droidyue.com/image/xiaomi_zhineng_jiaju_taocan.jpg" ></a>
	<iframe src="http://u.ctrip.com/showcaseadvertisementsit/adiframe-new.aspx?style=4&size=9&display=1&aid=811378&sid=1376858&app=0106X00&sizeid=23&env=dev" style="height:260px; width:260px; border:0;overflow-y:hidden;" frameborder="0" id="ctripidiframe" border="0"></iframe>
</html>
