<html>
	<!--ikbc keyboard-->
	<script type="text/javascript">var jd_union_pid="1729339876";var jd_union_euid="";</script><script type="text/javascript" src="//ads-union.jd.com/static/js/union.js"></script>
	<br/>

	<!--macbook-->
	<script type="text/javascript">var jd_union_pid="1729339896";var jd_union_euid="";</script><script type="text/javascript" src="//ads-union.jd.com/static/js/union.js"></script>
	<br/>

	<script type="text/javascript">
		for (var i = 0; i < geekTimeQrImages.length; i++) {
			document.write("<img class='no_boarder_class' style='max-Width:100%' src='" + geekTimeQrImages[i] + "'>");
		};
	</script>

	<p align="center">小米智能家居组合套餐</p>
	<a href="https://union-click.jd.com/jdc?d=tXELKB"><img class="no_boarder_class" style="max-Width:100%" src="https://asset.droidyue.com/image/xiaomi_zhineng_jiaju_taocan.jpg" ></a>
	
	<br/>
	<script type="text/javascript">var jd_union_pid="1799835414";var jd_union_euid="";</script><script type="text/javascript" src="//ads-union.jd.com/static/js/union.js"></script>

</html>
