<section>
<h1>经典书籍</h1>
<ul>
	<li><a href="http://www.amazon.cn/gp/product/B00MO7R1SG/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=536&creative=3200&creativeASIN=B00MO7R1SG&linkCode=as2&tag=droidyue-23">人件</a></li>
	<li><a href="http://www.amazon.cn/gp/product/B00OB3SNMY/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=536&creative=3200&creativeASIN=B00OB3SNMY&linkCode=as2&tag=droidyue-23">三体</a></li>
	<li><a href="http://www.amazon.cn/gp/product/B004Y4QWMS/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=536&creative=3200&creativeASIN=B004Y4QWMS&linkCode=as2&tag=droidyue-23">启示录</a></li>
	<li><a href="http://www.amazon.cn/gp/product/B00KFM43CO/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=536&creative=3200&creativeASIN=B00KFM43CO&linkCode=as2&tag=droidyue-23">算法帝国</a></li>
	<li><a href="http://www.amazon.cn/gp/product/B00R0YTB9A/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=536&creative=3200&creativeASIN=B00R0YTB9A&linkCode=as2&tag=droidyue-23">读懂财富</a></li>
	<li><a href="http://www.amazon.cn/gp/product/B0052IGZFO/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=536&creative=3200&creativeASIN=B0052IGZFO&linkCode=as2&tag=droidyue-23">百年孤独</a></li>
	<li><a href="http://www.amazon.cn/gp/product/B00D73BJWK/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=536&creative=3200&creativeASIN=B00D73BJWK&linkCode=as2&tag=droidyue-23">浪潮之巅</a></li>
	<li><a href="http://www.amazon.cn/gp/product/B00P6OJ09C/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=536&creative=3200&creativeASIN=B00P6OJ09C&linkCode=as2&tag=droidyue-23">数学之美</a></li>
	<li><a href="http://www.amazon.cn/gp/product/B00JZ96ZI8/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=536&creative=3200&creativeASIN=B00JZ96ZI8&linkCode=as2&tag=droidyue-23">解忧杂货店</a></li>
	<li><a href="http://www.amazon.cn/gp/product/B00DFYLXN6/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=536&creative=3200&creativeASIN=B00DFYLXN6&linkCode=as2&tag=droidyue-23">追风筝的人</a></li>
	<li><a href="http://www.amazon.cn/gp/product/B00KQDTZ4S/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=536&creative=3200&creativeASIN=B00KQDTZ4S&linkCode=as2&tag=droidyue-23">大教堂与集市</a></li>
	<li><a href="http://www.amazon.cn/gp/product/B00FXONTU6/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=536&creative=3200&creativeASIN=B00FXONTU6&linkCode=as2&tag=droidyue-23">从你的全世界路过</a></li>
	<li><a href="http://www.amazon.cn/gp/product/B008KVZOFW/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=536&creative=3200&creativeASIN=B008KVZOFW&linkCode=as2&tag=droidyue-23">中国历代政治得失</a></li>
	<li><a href="http://www.amazon.cn/gp/product/B00JR07034/ref=as_li_tf_tl?ie=UTF8&camp=536&creative=3200&creativeASIN=B00JR07034&linkCode=as2&tag=droidyue-23">"新政"能否改变中国</a><img src="http://ir-cn.amazon-adsystem.com/e/ir?t=droidyue-23&l=as2&o=28&a=B00JR07034" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></li>
	<li><a href="http://www.amazon.cn/gp/product/B00OY6NGDY/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=536&creative=3200&creativeASIN=B00OY6NGDY&linkCode=as2&tag=droidyue-23">不敢止步:一个软件工匠的12年</a></li>
</ul>
</section>
