<h3>广告一条街</h3>
<script type="text/javascript">var jd_union_unid="331185104",jd_ad_ids="520:6",jd_union_pid="CLOMnZOULBDQ9/WdARoAIPCF9qcEKgA=";var jd_width=250;var jd_height=250;var jd_union_euid="";var p="AhIDUx5cEAsSA2VEH0hfIlgRRgYlXVZaCCsfSlpMWGVEH0hfIkYBTy9wZUBjN0k5EkMbfRVEBW9ec3dZF2sVAhYBURhZFAYaN1cZWxULFgdUHmslXVZaCCsQewMiWBFGBiUCFgdTGFkTBhIPXRheJQMiN2U%3D";</script><script type="text/javascript" charset="utf-8" src="//u-x.jd.com/static/js/auto.js"></script>
<br/>

<p align="center">经典编程书籍</p>
<SCRIPT charset="utf-8" type="text/javascript" src="//ws-cn.amazon-adsystem.com/widgets/q?rt=tf_ssw&ServiceVersion=20070822&MarketPlace=CN&ID=V20070822%2FCN%2Fdroidyue-23%2F8003%2Ff918de11-acd3-4651-8670-cd1dc680d8b5&Operation=GetScriptTemplate"> </SCRIPT> <NOSCRIPT><A rel="nofollow" HREF="//ws-cn.amazon-adsystem.com/widgets/q?rt=tf_ssw&ServiceVersion=20070822&MarketPlace=CN&ID=V20070822%2FCN%2Fdroidyue-23%2F8003%2Ff918de11-acd3-4651-8670-cd1dc680d8b5&Operation=NoScript">Amazon.cn Widgets</A></NOSCRIPT>

<br/>
<p align="center">好书推荐</a>
<SCRIPT charset="utf-8" type="text/javascript" src="//ws-cn.amazon-adsystem.com/widgets/q?rt=tf_ssw&ServiceVersion=20070822&MarketPlace=CN&ID=V20070822%2FCN%2Fdroidyue-23%2F8003%2F4cc12d96-07bd-4aab-9313-fe3ef68f5f80&Operation=GetScriptTemplate"> </SCRIPT> <NOSCRIPT><A rel="nofollow" HREF="//ws-cn.amazon-adsystem.com/widgets/q?rt=tf_ssw&ServiceVersion=20070822&MarketPlace=CN&ID=V20070822%2FCN%2Fdroidyue-23%2F8003%2F4cc12d96-07bd-4aab-9313-fe3ef68f5f80&Operation=NoScript">Amazon.cn Widgets</A></NOSCRIPT>