<script type="text/javascript">var jd_union_unid="331185104",jd_ad_ids="506:6",jd_union_pid="COfejf6ILhDQ9/WdARoAIILhuskHKgA=";var jd_width=0;var jd_height=0;var jd_union_euid="";var p="AhIDUx5dFgsUDmVEH0hfIlgRRgYlXVZaCCsfSlpMWGVEH0hfIk8lcwNFZltsNRIPD14MfhVbM31%2BRWdZF2sVAhYBURhZFAYaN1cZWxULFgdUHmslXVZaCCsQewMiWBFGBiUCFg5WE18dChICXBxaJQMiN2U%3D";</script><script type="text/javascript" charset="utf-8" src="//u-x.jd.com/static/js/auto.js"></script>

<style type="text/css">
#pdd_ul {
    margin-left:5rem
}
</style>

<ul id="pdd_ul">
    <li><a href="https://mobile.yangkeduo.com/app.html?use_reload=1&launch_url=duo_collection.html%3F__page%3Ddis%26pid%3D9961975_132254737%26cpsSign%3DCIP_200321_9961975_132254737_20320d0ca126c41d3271832bbdc626aa%26duoduo_type%3D2&campaign=ddjb&cid=launch_">【内购专供，请勿外传】拼多多员工内购清单，数量不多，先到先得~</a>
    </li>

    <li><a href="https://mobile.yangkeduo.com/app.html?use_reload=1&launch_url=duo_today_burst.html%3Fpid%3D9961975_132254737%26cpsSign%3DCM_200321_9961975_132254737_f35fadb1aa89577bdf2dca07bd134b81%26duoduo_type%3D2&campaign=ddjb&cid=launch_">今日爆款数量有限，更有超多大额优惠券发放中，一键立抢</a>
    </li>

    <li><a href="https://mobile.yangkeduo.com/app.html?use_reload=1&launch_url=duo_nine_nine.html%3Fpid%3D9961975_132254737%26cpsSign%3DCM_200321_9961975_132254737_4c99e1639d377c286bc5cd2fd170b63d%26duoduo_type%3D2&campaign=ddjb&cid=launch_">全场9块9低价包邮，更有超多大额优惠券发放中，一键立抢>></a>
        </li>

        <li><a href="https://mobile.yangkeduo.com/app.html?use_reload=1&launch_url=duo_transfer_channel.html%3FresourceType%3D4%26pid%3D9961975_132254737%26cpsSign%3DCE_200321_9961975_132254737_c8ecf0fc451398f478eeda6dc4132ebd%26duoduo_type%3D2&campaign=ddjb&cid=launch_transfer_channel_">限时秒杀，底价狂欢，精选好货即将售罄，一键立抢>></a></li>

        <li><a href="https://mobile.yangkeduo.com/app.html?use_reload=1&launch_url=duo_transfer_channel.html%3FresourceType%3D39996%26pid%3D9961975_132254737%26_pdd_fs%3D1%26_pdd_tc%3Dffffff%26_pdd_sbs%3D1%26cpsSign%3DCE_200321_9961975_132254737_a2b695b301c6c92323a9fce5eabc6bb8%26duoduo_type%3D2&campaign=ddjb&cid=launch_transfer_channel_">官方百亿补贴，全场品质保障，全网最低，一键立抢>></a></li>
</ul>
