
<br/>
<a href="http://droidyue.com/donate/">如果本文对你有帮助，可以考虑捐赠支持</a>
<br/>
<br/>
<hr/>
<ul>
	<li><a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DVg%2FhPe4TpRocQipKwQzePOeEDrYVVa64pRe%2F8jaAHci5VBFTL4hn2Y7UrKiw7AWHxT40F5yyh63M3gYQjCL89qULerPwKfMIwRKDNIG1Ob5Hbunv6xALaZlevOBk8cMOApE4IplWZJxwdhQuJ7s05SGFCzYOOqAQ">别再趴着午睡压迫眼神经了</a></li>
	<li><a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DXmDv21KQiAYcQipKwQzePDAVflQIoZepQih%2F7PxfOKS5VBFTL4hn2TVJL6dCd73rxF5AHBg6Tr7M3gYQjCL89qULerPwKfMIwRKDNIG1Ob5nW%2BJUaSJ3f2AVCEmOagNkIYULNg46oBA%3D">程序员如何着装才能提升逼格</a></li>
	<li><a href="https://www.youmi.net/account/register?r=OTU2Ng==">找个空闲时间写个应用赚点外块花</a></li>
</ul>
