<h4>站外推荐</h4>
<ul>
	<li><a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DXmDv21KQiAYcQipKwQzePDAVflQIoZepQih%2F7PxfOKS5VBFTL4hn2TVJL6dCd73rxF5AHBg6Tr7M3gYQjCL89qULerPwKfMIwRKDNIG1Ob5nW%2BJUaSJ3f2AVCEmOagNkIYULNg46oBA%3D">程序员如何着装才能提升逼格</a></li>
	<li><a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DFoX2vdPjurgcQipKwQzePDAVflQIoZepQih%2F7PxfOKS5VBFTL4hn2YdmEHwS1WPLBuky%2F0Sep%2BHM3gYQjCL89qULerPwKfMIwRKDNIG1Ob5Hbunv6xALaS%2FgFAsaEiDtxgxdTc00KD8%3D">那些让程序员爱不释手的马克杯</a></li>
	<li><a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DqmeHxy%2BRHjAcQipKwQzePOeEDrYVVa64Qih%2F7PxfOKS5VBFTL4hn2XAaSEZ51GUIhEvvQe3dPn3M3gYQjCL89qULerPwKfMIwRKDNIG1Ob6nz6CsutZGDsr9%2BaSSwCKhHCUau0%2FZYwCXbDgOvIULxMYl7w3%2FA2kb">程序猿键盘HHKB:Emacs作者，GNU创始人 理查德·斯托曼都在用</a></li>
	<li><a href="https://portal.qiniu.com/signup?code=3l8cqx1u74rbm">七牛，国内高速，稳定，可靠的云存储服务,几乎免费的图床</a></li>
</ul>
