{% assign categories_source = post.categories | default: page.categories %}
{% assign categories_list = categories_source | compact %}
{% assign categories_count = categories_list | size %}
{% unless categories_count == 0 %}
<span class="categories">
  {% for category in categories_list %}
    {% assign slug = category | category_slug %}
    <a class="category" href="/{{ site.category_dir }}/{{ slug }}/">{{ category }}</a>{% unless forloop.last %}, {% endunless %}
  {% endfor %}
</span>
{% endunless %}
