<link rel="stylesheet" href="https://asset.droidyue.com/gitalk/gitalk.css">
<script src="https://asset.droidyue.com/gitalk/gitalk.min.js"></script>
<div id="gitalk-container"></div>
<script type="text/javascript">
	var gitalk = new Gitalk({
  		clientID: 'c6dab5d2becf02e6568f',
  		clientSecret: '9541ee96975f1661eab6f69811d0730d348c6546',
  		repo: 'comments_droidyuecom',
  		owner: 'droidyuecom',
  		admin: ['droidyuecom'],
  		// Ensure uniqueness and length less than 50
  		id: location.pathname.replace("/blog/", "").substring(0,50),      
  		distractionFreeMode: false  // Facebook-like distraction free mode
})

gitalk.render('gitalk-container')
</script>
