<html>
	<link href="http://1.toolite.sinaapp.com/css/new_donate.css"  rel="stylesheet" type="text/css">
	<script type="text/javascript" src="http://1.toolite.sinaapp.com/droidyue_com/donate_data.js" charset="utf-8"></script>
	<div class="donate_widget">
		<div style="text-align: center;font-size:20px;">文章不错？ 微信打赏辛勤的博主</div></br>
		<input class="donate_item" id="donate_item_first" type="button"  value="5.12元">
		<input class="donate_item" id="donate_item_second" type="button"  value="10.24元">
		<input class="donate_item" id="donate_item_third" type="button"  value="20.48元">
		<input class="donate_item" id="donate_item_fourth" type="button"  value="随意金额">
		<div id="donate_dialog" class="donate_dialog">
			<img src="http://7xnq3g.com1.z0.glb.clouddn.com/wechat_any.png" id="donate_img" height="200px" width="200px"/>
			<p style="text-align: center;">打开微信，扫一扫即可</p>
		</div>
	</div>


	<script type="text/javascript">
		if (shouldDisplayDonate()) {
			var elements = document.getElementsByClassName('donate_widget');
			if (elements.length > 0) {
				elements[0].style.display='block';
			}
		}

		function controlDonateDialog(shouldShow) {
			//console.info("controlDonateDialog shouldShow=" + shouldShow);
			var dialogElement = document.getElementById("donate_dialog");
			if (shouldShow) {
				dialogElement.style.visibility='visible'
				dialogElement.style.opacity = 1;
			} else {
				dialogElement.style.visibility='hidden';
				dialogElement.style.opacity = 0;
			}
		
		}

		var elements = document.getElementsByClassName('donate_item');
		for (var index in elements) {
			elements[index].onmouseover = function() {
				var dialogElement = document.getElementById("donate_dialog");
				document.getElementById('donate_img').src= donateImages[this.id];
				controlDonateDialog(true);
			}

			elements[index].onmouseout = function() {
				controlDonateDialog(false);
			}
		}


	</script>
</html>
