<!DOCTYPE html>
<html>
<head>
<style>
.geektime_column_one_third {
  box-sizing: border-box;
}

.geektime_column_one_third {
  float: left;
  width: 50%;
  padding: 20px;
}

.geektime_column_full_width {
  float: left;
  width: 100%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.geektime_images::after {
  content: "";
  clear: both;
  display: table;
}
</style>
</head>
<body>

<script type="text/javascript">
	var prefixDiv = '<p align="center">优质极客时间课程</p><div class="geektime_images">'
	var suffixDiv = '</div>'

	function createOneThirdDivItem(imageSrc) {
		return '<div class="geektime_column_one_third"><img src="$imageSrc" style="width:100%"></div>'.replace("$imageSrc", imageSrc)
	}

	function createFullDivItem(imageSrc) {
		return '<div class="geektime_column"><img src="$imageSrc" style="width:100%"></div>'.replace("$imageSrc", imageSrc)
	}

	function createDesktopElements(images) {
		return prefixDiv + createOneThirdDivItem(images[0])
			+ createOneThirdDivItem(images[1])
			+ suffixDiv
	}

	function createMobileElements(images) {
		var images = ["https://asset.droidyue.com/image/maths_for_programer.jpeg"]
		return prefixDiv + createFullDivItem(images[0]) + suffixDiv
	}
	var images = shuffleArray(geekTimeQrImages)
	if (isMobile()) {
		document.write(createMobileElements(images))
	} else {
		document.write(createDesktopElements(images))
	}

</script>
</body>
</html>
