<!-- 
<script type="text/javascript"  charset="utf-8" src="{{ root_url }}/javascripts/random_recommend.js">
</script>
<script type="text/javascript" charset="utf-8">
    var randomRecommendPosts = makeRecommendPost(makeBestPostsDataSource());
    displaySection(showDisplayRandomRecommend(), isRandomRecommendInDebug(), randomRecommendPosts, makeRandomRecommendPrefix(), makeRandomRecommendSuffix(), sDroidRandomRecommendClass);
</script>
 -->

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="autorelaxed"
     data-ad-client="ca-pub-6762344977202446"
     data-ad-slot="4907659907"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script> 