---
layout: default
single: true
---

<div>
<article class="hentry" role="article">
  {% include article.html %}
  <script type="text/javascript"  charset="utf-8" src="{{ root_url }}/javascripts/vote_tips.js"></script>
  
  <br/>
  <div id="post_rec"></div>
  <br/>
  
  {% include post/random_recommend.html%}
  <footer>
    <p class="meta">
      {% include post/author.html %}
      {% include post/date.html %}{% if updated %}{{ updated }}{% else %}{{ time }}{% endif %}
      {% include post/categories.html %}
    </p>
    <p class="meta">
      {% if page.previous.url %}
        <a class="basic-alignment left" href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}">&laquo; {{page.previous.title}}</a>
      {% endif %}
      {% if page.next.url %}
        <a class="basic-alignment right" href="{{page.next.url}}" title="Next Post: {{page.next.title}}">{{page.next.title}} &raquo;</a>
        {% endif %}
    </p>
    


{% unless page.sharing == false %}
	{% include post/sharing.html %}
{% endunless %}
  </footer>
  </article>
{% include post/geektime_post_banner.html %}
<br/>
{% include post/page_bottom_ads.html %}

{% if page.comments == true %}
  <section>
   {% include post/changyan.html %}
  </section>
{% endif %}

<link href="{{ root_url}}/stylesheets/remote.css"  rel="stylesheet" type="text/css">
	
{% include custom/asides/post_end_ad.html %}
	
</div>
{% unless page.sidebar == false %}
<aside class="sidebar">
  {% if site.post_asides.size %}
    {% include_array post_asides %}
  {% else %}
    {% include_array default_asides %}
  {% endif %}
</aside>
{% endunless %}


