<script type="text/javascript">
function bindBaiduEvent(className) {
	var elements = document.getElementsByClassName(className);
	var element;
	for (var index in elements) {
		element = elements[index];
		var innerText = element.innerText;
		if (!innerText) {
			continue;
		}
		console.info('bindBaiduEvent ' + innerText);
		element.onclick = function() {
			_hmt.push(['_trackEvent', 'droid_section', 'click', this.innerText]);
		};
	}
}
var sDroidBlogAdClass = 'droid_blog_ad_class';
var sDroidRandomRecommendClass = 'droid_random_recommend_class';
bindBaiduEvent(sDroidBestPostsClass);
bindBaiduEvent(sDroidBlogAdClass);
bindBaiduEvent(sDroidBlogRollClass);
bindBaiduEvent(sDroidCommonBookClass);
bindBaiduEvent(sDroidProgramBookClass);
bindBaiduEvent(sDroidRandomBestPostsClass);
bindBaiduEvent(sDroidRandomRecommendClass);
</script>
