<p>
  Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }} -
  <span class="credit">Powered by <a href="http://octopress.org">Octopress</a> ；优质服务品牌： 
	  <a href="https://onedrive.live.com/?invref=6b59396564b1963a&invscr=90">OneDrive</a>
	  <a href="https://www.vultr.com/?ref=7819525-4F">Vultr VPS</a>
	  <a href="https://m.do.co/c/3c4ff5a7ed39">Digital Ocean</a>
      <a href="https://billing.virmach.com/aff.php?aff=9882">Virmach(真实可用,1.25$/月)</a>
	  <a href="https://promotion.aliyun.com/ntms/yunparter/invite.html?userCode=tagltim6">阿里云</a>
  </span>
</p>
