<ul class="main-navigation">
  <li><a href="{{ root_url }}/">博客</a></li>
  <li><a href="{{ root_url }}/read/">今日值得读</a></li>
  <li><a href="{{ root_url }}/ninki">干货文章</a></li>
  <li><a href="{{ root_url }}/blog/archives">存档</a></li>
  <li><a href="{{ root_url }}/about/">关于</a></li>
  <li><a href="{{ root_url }}/subscribe/">订阅</a></li>
  <li><a href="{{ root_url }}/jijizhazha/">叽叽喳喳</a></li>
  <li><a href="{{ root_url }}/donate/">Donate</a></li>
  <li><a href="{{ root_url }}/jobs/">Jobs</a></li>
</ul>
