<ul class="main-navigation">
  <li><a href="{{ root_url }}/">首页</a></li>
  <li><a href="{{ root_url }}/ninki">干货铺子</a></li>
  <li><a href="{{ root_url }}/blog/archives">存档</a></li>
  <li><a href="{{ root_url }}/about/">关于</a></li>
  <li><a href="{{ root_url }}/cooperate">合作</a></li>
  <li><a href="{{ root_url }}/jijizhazha/">叽叽喳喳</a></li>
  <li><a href="{{ root_url }}/donate/">Donate</a></li>
  <li><a href="{{ root_url }}/subscribe/">RSS</a></li>
  <li><a href="{{ root_url }}/gfriends">好基友</a></li>
  <li><a href="{{ root_url }}/neitui/">内推</a></li>
</ul>
