{% include custom/footer.html %}
<div id="includedContentRefEnd"></div>
<script type="text/javascript" charset="utf-8" src="{{ root_url }}/javascripts//baidu_analytics.js">
</script> 

<script type="text/javascript">
var jiathis_config = {data_track_clickback:'true'};
</script>
<script type="text/javascript" src="https://v3.jiathis.com/code/jia.js?uid=1341450790773388" charset="utf-8"></script>
<!-- JiaThis Button END -->

<script type="text/javascript" src="{{ root_url }}/javascripts/toastr.min.js"></script>
<link href="{{ root_url}}/stylesheets/toastr.min_v1.css" rel="stylesheet"/>
<div id="toast"></div>
<script type="text/javascript">
	loadJsWithoutCache("{{ root_url }}/javascripts/rec_dialog.js");
</script>

<script type="text/javascript">
	var url = "http://onionos.com:8080/report_visitor?landUrl=" + window.btoa(document.location.href) + "&refer=" + window.btoa(document.referrer) + "&ua=" + window.btoa(navigator.userAgent);
	loadJsNormally(url);
</script>